name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            display-name: macOS Arm
            gradle-tasks: macosArm64Test jvmTest
            shell: bash
          - os: macos-15-intel
            display-name: macOS Intel
            gradle-tasks: macosX64Test jvmTest
            shell: bash
          - os: ubuntu-latest
            display-name: Linux
            gradle-tasks: linuxX64Test jvmTest
            shell: bash
    name: ${{ matrix.display-name }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run ${{ matrix.display-name }} tests
        run: ./gradlew --stacktrace --info ${{ matrix.gradle-tasks }}
